section.newspage-overall-container {
    background-color: $newspage-overall-container-bg;

    section.newspage-news-container {
        margin: 5%;
        padding-bottom: 0;
        background-color: #fff;
        overflow: hidden;

        p {
            margin: 5% 0;
            color: $paragraph-color;
        }

        a {
            display: inline-block;
            padding-right: 10%;
            margin-bottom: 2%;
            color: $light-blue-decoration;
            font-size: 0.9em;
            cursor: pointer;
        }
    }

    section.has-an-image {
        padding-left: 0;
            
        .left-column {
            flex: 45%;

            img {
                width: 25em;
                height: 25em;
            }
        }

        .right-column {
            flex: 55%;
        }
    }

    div.read-more {
        float: right;
        padding-right: 5%;
        color: $light-blue-decoration;
    }

}